@model IEnumerable<EmployeeManagement.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeptId">Edit</a> |
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@item.DeptId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Home" asp-action="Dashboard" class="btn btn-primary">Back to Dashboard</a>

